/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general*/
body{
    background-color: white;
    text-align: center;
    width:1080px;
    margin: auto;
}

/*header*/
h1{
    color: #DD3470;
}

/*main*/
a{
    color: #3B7A9F;
    text-decoration: none;
}

h2{
    font-size: 16px;
}
h3{
    font-size: 14px;
}

.columns > *{
    background-color: #1F2124;
    color: white;
    float: left;
    width: calc(100% / 3);
    border: 20px solid white;
    margin: 30px auto;
}

.text > *{
    float: left;
    width: calc(100%/3);
}

.box{
    text-align: left;
    width: calc(360px/2);
}